src/main/resources/templates/modalwindow/book/book.html
<div class='card'>
    <div class='card-header'>Редактирование книги</div>
<div class='card-body card-block'>
<form class='form this_modal_form' enctype='multipart/form-data' id='thisCurrentForm' method='post' onsubmit='sendDataFromModalForm(&#39;.this_modal_form&#39;); return false;' th:action='${action}'>
<input name='id' th:value='${book.id}' type='hidden'>
<div class='row form-group'>
<div class='col col-md-3'>
<div class='form-control-label'>Name</div>
</div>
<div class='col-12 col-md-9'>
<input class='form-control' id='login-email_email' name='name' placeholder='Name' th:value='${book.name}' type='text'>
<span class='form__error-message'></span>
</div>
</div>
<div class='row form-group'>
<div class='col col-md-3'>
<div class='form-control-label'>Author</div>
</div>
<div class='col-12 col-md-9'>
<select class='form-control' id='login-author_author' name='author' placeholder='author'>
<option placeholder='Автор' th:each='author : ${authors}' th:selected='${author.id==book.author.id}' th:text='${author.name}' th:value='${author.id}'></option>
</select>
</div>
</div>
<div class='row form-group'>
<div class='col col-md-3'>
<div class='form-control-label'>Genre</div>
</div>
<div class='col col-md-9'>
<div class='form-check form-check'>
<div class='checkbox' th:each='genre : ${genres}'>
<label class='form-check-label' th:for='&#39;login-genre&#39; + ${genre.id}'>
    <label class='switch switch-3d switch-info mr-3'>
        <input class='form-check-input switch-input' name='genre' placeholder='genre'
               th:checked='${book.genres.contains(genre)}' th:id='&#39;login-genre&#39; + ${genre.id}'
               th:value='${genre.id}' type='checkbox'>
        <span class='switch-label'></span>
        <span class='switch-handle'></span>
        </input>
    </label>
    <span th:text='${genre.label}'></span>
</label>
</div>
</div>
</div>
</div>
<div class='row form-group'>
<div class='col col-md-3'>
<div class='form-control-label'>Description</div>
</div>
<div class='col-12 col-md-9'>
<textarea class='form-control' id='login-email_description' name='description' placeholder='Description' th:text='${book.description}'></textarea>
<span class='form__error-message'></span>
</div>
</div>
<div class='row form-group'>
<div class='col col-md-3'>
<div class='form-control-label'>Price</div>
</div>
<div class='col-12 col-md-9'>
<input class='form-control' id='login-email_price' name='price' placeholder='Price' th:value='${book.price}' type='text'>
<span class='form__error-message'></span>
</div>
</div>
<div class='row form-group'>
<div class='col col-md-3'>
<div class='form-control-label'>Count</div>
</div>
<div class='col-12 col-md-9'>
<input class='form-control' id='login-email_count' name='count' placeholder='Count' th:value='${book.count}' type='text'>
<span class='form__error-message'></span>
</div>
</div>
<div class='row form-group'>
<div class='col col-md-3'>
<div class='form-control-label'>Images</div>
</div>
<div class='col col-md-9'>
<div class='form-check form-check'>
<div class='row'>
<div class='checkbox col col-md-4 col-sm-12' th:each='image:${images}'>
<input name='imagesOldId' th:value='${image.id}' type='hidden'>
    <label class='switch switch-3d switch-danger mr-3'>
        <input class='switch-input' name='deleteList' th:id='${image.id + &#39;dsfdf&#39;}' th:value='${image.id}'
               type='checkbox'>
        <span class='switch-label'></span>
        <span class='switch-handle'></span>
    </label>
<label th:for='${image.id + &#39;dsfdf&#39;}' th:text='#{adminpanel.modal.field.label.deleteimg}'>
<input accept='image/png, image/jpeg' class='form-control' id='user-image_image' name='imagesNew' placeholder='image' type='file'>
</label>
<img class='form__image-content-item' th:src='${image.path}'>
</div>
</div>
</div>
</div>
</div>
<div class='row form-group'>
<div class='col col-md-3'>
<div class='form-control-label'>Image</div>
</div>
<input accept='image/png, image/jpeg' class='form-control' id='user-image_image' multiple name='imagesAdded' type='file'>
</div>
</form>
</div>
<div class='card-footer'>
<button class='btn btn-primary btn-sm' form='thisCurrentForm' type='submit'>
<i class='fa fa-dot-circle-o'>Сохранить</i>
</button>
</div>
</div>

out/production/resources/viewsource/modalwindow/book/book.haml
.card
  .card-header Редактирование книги
  .card-body.card-block
    %form.form.this_modal_form(th:action="${action}" method="post" enctype="multipart/form-data" onsubmit="sendDataFromModalForm('.this_modal_form'); return false;" id="thisCurrentForm")
      %input(type="hidden" name="id" th:value="${book.id}")
      .row.form-group
        .col.col-md-3
          .form-control-label Name
        .col-12.col-md-9
          %input#login-email.form-control(th:value="${book.name}" name='name' id='email' type="text" placeholder="Name" ) 
          %span.form__error-message
      .row.form-group
        .col.col-md-3
          .form-control-label Author
        .col-12.col-md-9
          %select#login-author.form-control(id='author' name='author' placeholder="author")
            %option(th:each="author : ${authors}" th:value="${author.id}" th:text="${author.name}" th:selected="${author.id==book.author.id}" placeholder="Автор" ) 
      .row.form-group
        .col.col-md-3
          .form-control-label Genre
        .col.col-md-9
          .form-check.form-check
            .checkbox(th:each="genre : ${genres}")
              %label.form-check-label(th:for="'login-genre' + ${genre.id}" )
                %label.switch.switch-3d.switch-info.mr-3
                  %input.form-check-input.switch-input(th:id="'login-genre' + ${genre.id}" type='checkbox' name='genre' placeholder="genre" th:value="${genre.id}"   th:checked="${book.genres.contains(genre)}")
                    %span.switch-label
                    %span.switch-handle
                %span(th:text="${genre.label}")
                
      .row.form-group
        .col.col-md-3
          .form-control-label Description
        .col-12.col-md-9
          %textarea#login-email.form-control(name='description' th:text="${book.description}" id='description' placeholder="Description" )
          %span.form__error-message
      .row.form-group
        .col.col-md-3
          .form-control-label Price
        .col-12.col-md-9
          %input#login-email.form-control(th:value="${book.price}" name='price' id='price' type="text" placeholder="Price" )
          %span.form__error-message
      .row.form-group
        .col.col-md-3
          .form-control-label Count
        .col-12.col-md-9
          %input#login-email.form-control(th:value="${book.count}" name='count' id='count' type="text" placeholder="Count" )
          %span.form__error-message 
      .row.form-group
        .col.col-md-3
          .form-control-label Images
        .col.col-md-9
          .form-check.form-check
            .row
              .checkbox.col.col-md-4.col-sm-12(th:each="image:${images}")
                %input(type="hidden" name="imagesOldId" th:value="${image.id}")
                %label.switch.switch-3d.switch-danger.mr-3
                  %input.switch-input(type="checkbox" th:id="${image.id + 'dsfdf'}" name="deleteList" th:value="${image.id}")
                  %span.switch-label
                  %span.switch-handle
                %label(th:text="\#{adminpanel.modal.field.label.deleteimg}" th:for="${image.id + 'dsfdf'}")
                  %input#user-image.form-control(id='image' name="imagesNew" type="file" placeholder="image" accept="image/png, image/jpeg")
                %img.form__image-content-item(th:src="${image.path}")
      .row.form-group
        .col.col-md-3
          .form-control-label Image
        %input#user-image.form-control(id='image' name="imagesAdded" type="file" multiple accept="image/png, image/jpeg")
  .card-footer
    %button.btn.btn-primary.btn-sm(type="submit" form="thisCurrentForm" ) 
      %i.fa.fa-dot-circle-o Сохранить
