out/production/resources/viewsource/modalwindow/gallery/gallery.haml
.card
  .card-header Редактирование фото
  .card-body.card-block
    %form.form.this_modal_form(th:action="${action}" method="post" enctype="multipart/form-data" onsubmit="sendDataFromModalForm('.this_modal_form'); return false;" id="thisCurrentForm")
      %input(type="hidden" name="id" th:value="${galleryItem.id}")
    .row.form-group
      .form__image-content-container
        %image.form__image-content-item(th:src="${galleryItem.image}")
    .row.form-group
      .col.col-md-3
        .form-control-label  Image
      .col-12.col-md-9
        %input#user-image.form-control(th:value="${galleryItem.image}" id='image' name="image" type="file" placeholder="image" accept="image/png, image/jpeg")
        %span.form__error-message 
  .card-footer
    %button.btn.btn-primary.btn-sm(type="submit" form="thisCurrentForm" ) 
      %i.fa.fa-dot-circle-o Сохранить

src/main/resources/templates/modalwindow/gallery/gallery.html
<div class='card'>
<div class='card-header'>Редактирование фото</div>
<div class='card-body card-block'>
<form class='form this_modal_form' enctype='multipart/form-data' id='thisCurrentForm' method='post' onsubmit='sendDataFromModalForm(&#39;.this_modal_form&#39;); return false;' th:action='${action}'>
<input name='id' th:value='${galleryItem.id}' type='hidden'>
</form>
<div class='row form-group'>
    <div class='form__image-content-container'>
<image class='form__image-content-item' th:src='${galleryItem.image}'></image>
</div>
</div>
<div class='row form-group'>
<div class='col col-md-3'>
<div class='form-control-label'>Image</div>
</div>
<div class='col-12 col-md-9'>
    <input accept='image/png, image/jpeg' class='form-control' id='user-image_image' name='image' placeholder='image'
           th:value='${galleryItem.image}' type='file'>
<span class='form__error-message'></span>
</div>
</div>
</div>
<div class='card-footer'>
<button class='btn btn-primary btn-sm' form='thisCurrentForm' type='submit'>
<i class='fa fa-dot-circle-o'>Сохранить</i>
</button>
</div>
</div>
